@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0E1525;
  --secondary-color: #FF9D01;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}