@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: #0e1525;
	--secondary-color: #ff9d01;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

@layer utilities {
	/* Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

.slick-slide > div {
	margin: 0 20px;
}

.slick-slide {
	border-radius: 10px;
}

/* Change arrow color */
.slick-prev,
.slick-next {
	color: #ff5722; /* Set arrow color */
	z-index: 1; /* Ensure arrows are visible */
}

/* Hover effect */
.slick-prev:hover,
.slick-next:hover {
	color: #ff9800;
}
